table,td {
    border: 2px solid green;
    border-collapse: collapse;
    margin: auto;
  }

td {
    width:32px;
    height:32px;
  }

button{
    align-items: auto;
}


h2{
  font-family: 'Yomogi', cursive;
  font-size: 80px;
  text-align: center;
}